# This file aims to stay close to its upstream version: https://github.com/github/gitignore/blob/master/Node.gitignore
# Yarn
yarn-error.log

# macOS
.DS_Store

# Vim
*.swp
*.swo

# Node
node_modules/

# Next.js
.next/
out

# ReScript
.bsb.lock
.merlin
/lib/bs/
/bindings/*.js
/common/*.js
/components/*.js
/layouts/*.js
/res_pages/**/*.js

# VSCode - we do not ignore .vscode intentionally despite some templates suggesting to 
# seletively include only parts of .vscode folder. This is intentional. We want all developers
# to share the same settings and raise an issue if their settings drift.
